 .fondo {
            background-color: #ffffff;
        }

        .video-container {
          
            background-color: #fff;
            border-radius: 8px;
            /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
        }

        #videoPlayer {
            width: 100%;
            max-height: 600px; /* Ajusta la altura máxima según tus necesidades */
            border-radius: 5px;
            border: 0.5px solid blue;
            box-shadow: 25px 9px 63px #ff4141;

        }

        .controls-container {
            margin-top: 15px;
            text-align: center;
        }

        .controls-container button {
            margin: 0 5px;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .controls-container button:hover {
            background-color: #0056b3;
        }

        .stri{
            text-decoration: none;
        }

        .boton{
            width: 150px;
        }

        .logo{
            width: 150px;

        }

       